<div class="app-container">
  
  <header class="navbar">
    <div class="navbar-content">
      
      <div class="logo">
        <h1>Sistema de Reservas</h1>
      </div>

      <nav class="nav-links">
        
        <a (click)="toggleTheme()" class="theme-btn" title="Alternar Tema">
          @if (isDarkMode) { ☀️ } @else { 🌙 }
        </a>

        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Lista
        </a>

        <a routerLink="/busca" routerLinkActive="active">
          Buscar
        </a>
        
        <a routerLink="/calendario" routerLinkActive="active">
          Calendário
        </a>
        
       
        @if (isAdmin) {
          <a routerLink="/novo-recurso" class="btn-nav-action" routerLinkActive="active-btn">
            + Sala
          </a>
        }

      
        @if (username) {
          <div class="user-dropdown">
            <button class="dropdown-trigger">
              Olá, <strong>{{ username }}</strong> ▼
            </button>
            
            <div class="dropdown-content">
              <a routerLink="/minhas-reservas">📅 Meus Agendamentos</a>
              <a routerLink="/relatorios">📄 Relatórios</a>
              <hr class="dropdown-divider">
              <a (click)="sair()" class="logout-item">🚪 Sair</a>
            </div>
          </div>
        } @else {
            <a routerLink="/login">Login</a>
        }

      </nav>

    </div>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>&copy; 2025 Sistema de Reservas Acadêmicas</p>
  </footer>

</div>