:host {
  --fc-border-color: var(--border-color);
  --fc-page-bg-color: var(--bg-card);
  --fc-neutral-bg-color: var(--bg-app);
  --fc-list-event-hover-bg-color: var(--bg-app);
  
  
  --fc-today-bg-color: rgba(52, 152, 219, 0.15); 
  
  --fc-button-text-color: #fff;
  --fc-button-bg-color: var(--primary-color);
  --fc-button-border-color: var(--primary-color);
  --fc-button-hover-bg-color: var(--text-secondary);
  --fc-button-hover-border-color: var(--text-secondary);
  --fc-button-active-bg-color: var(--text-main);
  --fc-button-active-border-color: var(--text-main);
}

.calendar-container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 20px;
  background: var(--bg-card);
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--shadow-color);
  border: 1px solid var(--border-color);
  font-family: Arial, sans-serif;
}

::ng-deep .fc-toolbar-title {
    color: var(--text-main) !important;
}

::ng-deep .fc-col-header-cell-cushion, 
::ng-deep .fc-timegrid-axis-cushion,   
::ng-deep .fc-timegrid-slot-label-cushion { 
    color: var(--text-secondary) !important;
    text-decoration: none !important;
}

::ng-deep .fc-timegrid-event {
    min-height: 25px !important;
    border: none !important; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

::ng-deep .fc-timegrid-event .fc-event-main {
    padding: 4px;
    font-size: 0.85em;
    overflow: hidden; 
    color: white; 
    font-weight: 500;
}


::ng-deep .fc-timegrid-event:hover {
    filter: brightness(1.1);
    cursor: pointer;
}