
:root {
 
  --bg-app: #f8f9fa;       
  --bg-card: #ffffff;      
  --text-main: #2c3e50;    
  --text-secondary: #555555; 
  --border-color: #eeeeee;
  --shadow-color: rgba(0, 0, 0, 0.05);
  
  --primary-color: #3498db; 
  --accent-color: #27ae60;  
  --danger-color: #e74c3c; 
}


.dark-theme {
  --bg-app: #121212;       
  --bg-card: #1e1e1e;      
  --text-main: #e0e0e0;    
  --text-secondary: #b0b0b0;
  --border-color: #333333;
  --shadow-color: rgba(0, 0, 0, 0.5);

  --primary-color: #5dade2; 
  --accent-color: #2ecc71;
  --danger-color: #ec7063;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  
  
  background-color: var(--bg-app);
  color: var(--text-main);
  transition: background-color 0.3s, color 0.3s; 
}


input, textarea, select {
  background-color: var(--bg-card);
  color: var(--text-main);
  border: 1px solid var(--border-color);
}